body {
  font-family: 'News Cycle', sans-serif;;
}

section {
  height: 100vh;
}

a {
  text-decoration: none;
}

h1, h2 {
  color: #ffffff
}

h1 {
  font-family:'Clicker Script', cursive;
  font-size: 6em;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
}

.sectionTitle {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 2em;
  margin: 5%;
}

/* header */

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoText {
  font-family:'Clicker Script', cursive;
  font-size: 2em;
}

#header-img {
  height: 80%;
  margin: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.navigation {
  width: 55%;
  /* position: relative; */
}


.navLinks li {
  display: inline;
  font-size: 1.5em;
  transition: all .2s ease-in-out;
}

.navLinks li:hover {
  transform: scale(1.1);
}

.navLinks a {
  color: #67a36b;
  font-family: 'Amatic SC', cursive;
}



/* banner */

#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("assets/succulents_background.jpg") no-repeat center;
  text-align: center;
}

.titles {
  position: relative;
  top: 40%;
}

/* benefits */

.benefitsContent {
  display: flex;
  justify-content: space-around;
}

.video {
  height: 400px;
  width: 450px;
  background: grey;
}

.benefit {
  margin: 10% 0;
}

.benefit p {
  display: inline;
}

/* plans */

#plans {
  height: 60vh;
}

.planContainer {
  display: flex;
  justify-content: space-around;
}

.singlePlan {
  height: 200px;
  width: 200px;
  background: #d8ffbf;
}

/* register */

#register {
  height: 50vh;
  background: #9dc19f;
}
